@import '../../global.scss';

.contact {
    background-color: rgb(213, 243, 252);
    display: flex;

    @include mobile{
        flex-direction: column;
    }


    .left{
        flex: 1;

        img{
            width: 100%;
            height: 90%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 30px;

            @include mobile{
                margin-bottom: 30px;
            }
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input{
                width: 300px;
                height: 30px;
                font-size: 14px;
                border: none;
                padding-left: 10px;
                border-radius: 10px;

                @include mobile{
                    width: 200px;
                    height: 30px;
                }
            }

            textarea{
                width: 300px;
                height: 200px;
                border: none;
                padding-left: 10px;
                padding-top: 10px;
                border-radius: 10px;

                @include mobile{
                    width: 200px;
                    height: 100px;
                }
            }
            button{
                width: 150px;
                height: 30px;
                color: rgb(233, 233, 233);
                background-color: cyan;
                border: none;
                border-radius: 10px;
                cursor: pointer;

                @include mobile{
                    color: black;
                }

                &:focus{
                    outline: none;
                }
            }

            span{
                color: crimson;

                @include mobile{
                    font-size: 12px;
                }
            }
        }

    }
}